mixin parallax-cover(data)
    .parallax.parallax-cover.container
        .parallax__item.parallax__item-1
            img(src="%=static=%img/content/ipad-1.png", width="300")
        .parallax__item.parallax__item-2
            img(src="%=static=%img/content/macbook.png", width="570")
        .parallax__item.parallax__item-3
            img(src="%=static=%img/content/iphone-1.png", width="180")
        .parallax__item.parallax__item-3-a
            img(src="%=static=%img/content/iphone-1.png", width="180")
        .parallax__item.parallax__item-4
            img(src="%=static=%img/content/iphone-2.png", width="180")
    .parallax-cover__buffer
