mixin blog_section(data)
    include ../parallax-blog/parallax-blog.pug

    .blog-section
        .title Хотите узнать обо всех аспектах подробнее?
        .blog-section__content
            p Мы на Вашей стороне! Давайте вместе и на простом языке разберемся подробно в каждом аспекте хорошего сайта для МКК с офлайн выдачей.
            p
                a(href='#').btn.btn-link
                    span.icon
                        <svg width="12" height="10" viewBox="0 0 12 10"><defs><path id="icon-news" d="M672.13 2085zm-10.78 0c-.75 0-1.35-.61-1.35-1.36V2075h10.78v8.64c0 .75.6 1.36 1.35 1.36zm4.04-6.77h-3.6v4.54h3.6zm4.04 4.09c0-.25-.2-.46-.45-.46h-2.24c-.25 0-.45.2-.45.46 0 .25.2.45.45.45h2.24c.25 0 .45-.2.45-.45zm0-1.82c0-.25-.2-.45-.45-.45h-2.24a.45.45 0 1 0 0 .9h2.24c.25 0 .45-.2.45-.45zm0-1.82c0-.25-.2-.45-.45-.45h-2.24a.45.45 0 1 0 0 .9h2.24c.25 0 .45-.2.45-.45zm0-1.82c0-.25-.2-.45-.45-.45h-7.18a.45.45 0 1 0 0 .9h7.18c.25 0 .45-.2.45-.45z"/></defs><g><g transform="translate(-660 -2075)"><use fill="#ff344b" xlink:href="#icon-news"/></g></g></svg>
                    | Читать в блоге

    +parallax-blog()
