mixin parallax-blog(data)
    .parallax.parallax-blog.container
        .parallax__item.parallax__item-1
            img(src="%=static=%img/content/iphone-3.png", width="180")
        .parallax__item.parallax__item-2
            img(src="%=static=%img/content/ipad-2.png", width="430")
        .parallax__item.parallax__item-3
            img(src="%=static=%img/content/iphone-4.png", width="180")
        .parallax__item.parallax__item-3-a
            img(src="%=static=%img/content/iphone-4.png", width="180")
        .parallax__item.parallax__item-4
            img(src="%=static=%img/content/iphone-5.png", width="180")
    .parallax-blog__buffer
