mixin feature(data)
    .container#feature
        .feature
            .feature__header
                .title
                    | Каким должен быть &nbsp;
                    span правильный сайт для МКК?
                .subtitle С офлайн выдачей

            .f-row
                .f-block.f-block--wide.feature__block.feature__block--conversion
                    .f-block__title
                        | Обеспечивает максимально&nbsp;
                        span возможную конверсию
                    .f-block__content
                        ul.advantages.feature__advantages
                            li.advantage-item.phone Идеально работает на любых устройствах,
                                br
                                |будь то планшет, телефон или компьютер.&nbsp;
                                strong.highlight +30%
                            li.advantage-item.hand Все элементы динамические и готовы к работе
                                br
                                | с сенсорными экранами.&nbsp;
                                strong.highlight +4-7%
                            li.advantage-item.speed Вся важная для заёмщика информация
                                br
                                | считывается за&nbsp;
                                strong 5-7 секунд.&nbsp;
                                strong.highlight +20%

                .f-block.f-block--narrow.feature__block
                    .f-block__title Соответствует всем требованиям ЦБ и контролирующих органов
                    .f-block__content Точное соблюдение последних требований. Вам не нужно об этом переживать.

            .f-row
                .f-block.f-block--narrow.feature__block
                    .f-block__title Доставляет анкеты прямо в систему учёта
                    .f-block__content Модули интеграции
                        br
                        | с основными системами
                        br
                        | учёта на рынке!

                .f-block.f-block--wide.feature__block.feature__block--view
                    .f-block__title
                        | Шикарно выглядит и имеет&nbsp;
                        span возможность персонализации
                    .f-block__content
                        p Легко добавьте свой логотип, фирменный цвет, фоновую картинку, измените тексты и кредитные продукты!
                        p
                            a(href='demo/index.html').btn.btn-link
                                span.icon
                                    <svg width="10" height="10" viewBox="0 0 10 12"><defs><path id="icon-play" d="M588.52 1623.98l-11.04 6.3v-12.6z"/></defs><g><g transform="translate(-578 -1618)"><use fill="#ff344b" xlink:href="#icon-play"/></g></g></svg>
                                | Посмотреть демо-версию
