mixin notification(data)
    .notification.animation
        button.notification__close &times;
        .notification__text
            a(href='individual/index.html', target='_self')
                span.notification__title Вам не подходит готовое решение?
                | Разработаем сайт любой сложности для Вашей Кредитной организации
                i.icon-arrow
